/**********************************************polices**********************************************/

@font-face {
    font-family: 'Helvetica';
    src: url('police/HELR45W.ttf') format('truetype');
}

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
}

/**********************************************header**********************************************/

header {
    display: flex;
}

.container-header {
    display: flex;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 20px;
}

.logo-title {
    display: flex;
}

.logo-title h1 {
    font-weight: bold;
    margin-top: 10px;
}

.logo-title img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.logo-title a {
    color: #333;
}

.logo-title a:hover {
    color: #333;
    text-decoration: none;
}

header nav a {
    color: #777;
}

nav a:hover {
    color: #f4473a;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li {
    list-style: none;
}

.connexion {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 17px;
    text-align: center;
    background-color: white;
    z-index: 2;
}

.connexion .glyphicon {
    margin-right: 10px;
    font-size: 20px;
}

.connexion p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-connexion {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f4473a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.link-connexion:hover {
    background-color: #a93128;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.link {
    color: #777;
    font-size: 14px;
}

.link:hover {
    color: #f4473a;
    text-decoration: none;
}

.dropdown-connexion {
    display: none;
    padding: 10px;
    position: relative;
}

.dropdown-connexion .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-connexion .button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}

.dropdown-connexion .glyphicon {
    position: absolute;
    right: 0;
    color: #f4473a;
    cursor: pointer;
}

.dropdown-connexion .glyphicon:hover {
    color: #a93128;
}

.dropdown-connexion .form-control,
.dropdown-connexion select {
    margin-bottom: 15px;
}

/**********************************************footer**********************************************/

footer {
    border-top: 5px solid #f4473a;
    background-color: #3b3b3b;
    padding-top: 30px;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    font-size: 15px;
    padding-bottom: 30px;
}

footer nav ul a {
    color: #bbb;
}

footer nav ul li {
    list-style: none;
    margin-bottom: 5px;
}

.infos {
    background: #292929;
    color: #bbb;
    width: 100%;
    padding: 15px;
    padding-left: 20%;
}

/**********************************************boutons**********************************************/

.button {
    background-color: #f4473a;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border: none;
}

.button:hover {
    background-color: #a93128;
    color: white;
    text-decoration: none;
}

.button-slide {
    background-color: #f4473a;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border: none;
}

.button-slide:hover {
    background-color: #a93128;
    color: white;
    text-decoration: none;
}

/**********************************************Home**********************************************/

/*Slider*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.title-slide {
    position: absolute;
    top: 14%;
    left: 20%;
    right: 20%;
    width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, .80);
    padding: 60px;
    color: #333;
    z-index: 3;
}

.title-slide p {
    font-size: 12px;
    margin-bottom: 25px;
    color: #333;
}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 660px;
}

.banner-title h1 {
    background-color: rgba(255, 255, 255, .75);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 250px;
    padding-right: 250px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h1 {
    margin-top: 60px;
}

.container-location {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.column-location {
    width: 50%;
    text-align: center;
    height: 425px;
}

.column-location a {
    color: #f4473a;
}

.column-location a:hover {
    color: #a93128;
    text-decoration: none;
}

.column-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/locataires.jpg");
    background-size: 100%;
}

.column-left h3 {
    background-color: rgba(255, 255, 255, .75);
    padding: 40px;
}

.column-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/proprietaires.jpg");
    background-size: 100%;
}

.column-right h3 {
    background-color: rgba(255, 255, 255, .75);
    padding: 40px;
}

.desc-location {
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.desc-location ul {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-left: 0;
}

.desc-location ul li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 17%;
    text-align: left;
    margin: 20px;
}

.desc-location ul li p {
    margin-left: 20px;
}

.num-list {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f4473a;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
}

.services {
    width: 60%;
    margin: auto;
    text-align: center;
}

.services h1 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.subtitle {
    color: #777;
}

.container-services {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.service {
    display: flex;
    flex-direction: column;
    border: 2px solid #f4473a;
    border-radius: 100px;
    padding: 35px;
    width: 200px;
    height: 200px;
}

.service a {
    color: #f4473a;
}

.service a:hover {
    color: #a93128;
    text-decoration: none;
}

.banner {
    text-align: center;
    background-color: #f2f2f2;
    padding: 60px;
}

.container-brand {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.brand {
    padding: 20px;
    margin: 10px;
    width: 32%;
}

.brand h3,
.brand h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.brand1 {
    background-color: #f4473a;
    color: white;
}

.brand2 {
    background-color: lightgrey;
    color: #333;
}

.brand3 {
    background-color: #606060;
    color: white;
}

.brand4 {
    background-color: #333;
    color: white;
}

.container-new-services {
    text-align: center;
    margin-bottom: 60px;
}

.container-new-services h1 {
    padding-top: 60px;
}

.container-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.new-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 360px;
    margin: 5px;
}

.new-service a {
    color: #f4473a;
}

.new-service a:hover {
    color: #a93128;
    text-decoration: none;
}

.new-service1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/002.jpg');
    background-size: 100%;
    color: white;
}

.new-service2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/pexels-photo-545034.jpeg');
    background-size: 100%;
    color: white;
}

.new-service3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/animation-realite-virtuelle.jpg');
    background-size: 100%;
    color: white;
}

.new-service4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/pexels-photo-529599.jpeg');
    background-size: 100%;
    color: white;
}

.new-service1:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('images/002.jpg');
    background-size: 100%;
    color: #333;
}

.new-service2:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('images/pexels-photo-545034.jpeg');
    background-size: 100%;
    color: #333;
}

.new-service3:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('images/animation-realite-virtuelle.jpg');
    background-size: 100%;
    color: #333;
}

.new-service4:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('images/pexels-photo-529599.jpeg');
    background-size: 100%;
    color: #333;
}

/**********************************************Page Qui sommes-nous?**********************************************/

.banner-title-agence {
    background-image: url("images/mth-nicolas-maugery-yad-initiative-stephane-ConvertImage.jpg");
    background-size: 100%;
}

.agence {
    text-align: center;
    margin-bottom: 60px;
}

.agence h1:nth-child(1) {
    margin-top: 60px;
}

.agence ul {
    padding-left: 0;
}

.agence ul li {
    list-style: none;
    color: #777;
    font-size: 20px;
}

.agence .container-brand {
    width: 61%;
}

.container-video {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

/**********************************************Page Contact**********************************************/

.banner-title-contact {
    background-image: url("images/coffee-contact-email-4831.jpg");
    background-size: 100%;
}

.container-form {
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 60%;
    margin: auto;
    background-color: #f2f2f2;
    margin-top: 60px;
    margin-bottom: 60px;
}

form input,
form textarea {
    margin-bottom: 30px;
}

.container-button-form {
    display: flex;
    justify-content: center;
}

.message {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    height: 400px;
    width: 100%;
}

/**********************************************Page Location**********************************************/

.banner-title-location {
    background-image: url("images/pexels-photo-609768.jpeg");
    background-size: 100%;
}

.box-location {
    width: 25%;
    text-align: center;
}

.box-location img {
    margin-bottom: 20px;
}

.info-location {
    margin-bottom: 60px;
}

/**********************************************Page Gestion locative**********************************************/
.banner-title-gestion-locative {
    background-image: url("images/003.jpg");
    background-size: 100%;
}

.title-gestion-locative {
    text-align: center;
    margin-top: 60px;
}

.title-gestion-locative h1 {
    margin-bottom: 40px;
}

.title-gestion-locative h4 {
    margin-bottom: 40px;
}

/**********************************************Page inscription**********************************************/

.banner-title-new-user {
    background-image: url("images/adult-beautiful-blur-935756-ConvertImage.jpg");
    background-size: 100%;
}

.title-new-user {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.title-new-user h2 {
    background-color: rgba(255, 255, 255, .75);
    width: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.title-new-user a {
    color: #333;
}

.title-new-user a:hover {
    color: #f4473a;
    text-decoration: none;
}

.temoignages {
    text-align: center;
}

.temoignages h1,
.temoignages .col-lg-3 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.temoignages h1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.temoignages .row {
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
}

.stars {
    display: flex;
    justify-content: center;
}

.logos img {
    margin-left: 30px;
    margin-right: 30px;
}

.container-new-user {
    margin-top: 0;
}

/**********************************************Page inscription propriétaire**********************************************/
.banner-title-new-owner {
    background-image: url("images/adult-beautiful-blur-935756-ConvertImage-ConvertImage.jpg");
    background-size: 100%;
}

.title-new-ower {
    margin-top: 60px;
    text-align: center;
}

.title-new-ower h1 {
    margin-bottom: 30px;
}

/**********************************************CGU&&Confidentialité**********************************************/
.container-wide {
    width: 60%;
    margin: auto;
    padding: 30px 0 30px 0;
}

/**********************************************Espace Admin**********************************************/
.banner-space {
    background-color: #3b3b3b;
    color: white;
    padding: 15px;
}

.banner-space h4 {
    margin-top: 10px;
    text-align: center;
}

.container-space {
    height: 100%;
}

.container-space nav ul {
    display: block;
    padding-left: 20px;
    margin-top: 20px;
}

.container-space nav {
    background-color: #f2f2f2;
    height: 100%; 
}

.container-space nav ul li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-space a {
    color: #333;
}

.container-space .glyphicon {
    margin-right: 20px;
}

.container-space .row {
    margin-left: 0;
    margin-right: 0;
}

.container-space .col-lg-3 {
    padding-left: 0;
    padding-right: 0;
}

.title-space {
    background-color: #f4473a;
    color: white;
    margin: 0;
    padding: 30px;
    font-weight: bold;
}

.title-space .glyphicon {
    margin-left: 10px;
}

.title-space a {
    color: white;
}

.title-space a:hover {
    color: white;
    text-decoration: none;
}

.container-boxes {
    padding: 30px;
}

.container-boxes .col-lg-3 {
    margin: 10px;
}

.container-boxes a {
    color: #333;
}

.container-boxes a:hover {
    color: white;
    text-decoration: none;
}

.box {
    border: 1px solid lightgrey;
}

.box h3 {
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    font-weight: bold;
    border-bottom: 3px solid #f4473a;
}

.box-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number {
    font-size: 80px;
    font-weight: bold;
    color: #f4473a;
    width: 20%;
    text-align: center;
}

.desc-box {
    width: 70%;
}

.desc-box h4 {
    font-weight: bold;
}

.desc-box a {
    color: #f4473a;
}

.desc-box a:hover {
    color: #a93128;
}

.box table {
    margin: 20px;
    width: 95%;
}

.container-icon {
    display: flex;
    justify-content: center;
}

.container-icon .glyphicon {
    font-size: 60px;
    margin-top: 20px;
    color: lightgrey;
}

.logo-title-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 20px;
}

.logo-title-space img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.logo-title-space h1 {
    margin-top: 10px;
    font-weight: bold;
}

.logo-title-space a {
    color: #333;
}

.logo-title-space a:hover {
    color: #333;
    text-decoration: none;
}

.container-space .button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.container-space .button .glyphicon {
    font-size: 20px;
    margin-right: 10px;
}

.container-space .container-boxes h3 {
    font-weight: bold;
}

.title-page {
    margin-left: 10px;
    margin-bottom: 30px;
}

.button-noborder {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.form-center {
    width: 60%;
    margin: auto;
}

.container-messagerie {
    margin: 20px;
}

.container-messagerie table {
    width: 97%;
    margin: 20px 0 0 20px;
}

.nav-tabs {
    margin: 0 20px 0 20px;
}

/**********************************************Espace Propriétaire**********************************************/

.desc-box-new-bien {
    padding: 28px;
    margin-left: 25px;
}

.desc-box-new-location {
    padding-top: 28px;
    padding-bottom: 27px;
    margin-left: 25px;
}

.container-form-wide {
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 100%;
    background-color: #f2f2f2;
    margin: 60px 30px 60px 0;
}

.img-form {
    width: 50%;
}

table .glyphicon {
    color: #f4473a;
}

/**********************************************Espace Locataire**********************************************/
.form-location {
    padding: 60px;
    width: 70%;
    background-color: #f2f2f2;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-location .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}

.form-location h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-location .form-control {
    margin-bottom: 0;
}

.radios1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.radios2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.input-localisation {
    width: 300px;
}

.row1,
.row2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.row2 {
    margin-bottom: 30px;
}

.hidden-select,
.hidden-select-appart,
.hidden-select-maison {
    display: none;
}

.title-location {
    text-align: center;
    margin-top: 60px;
}

.title-location h1 {
    margin-bottom: 30px;
}

.title-location h4:nth-child(4) {
    margin-bottom: 60px;
}

.form-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    text-align: center;
}

.button-type {
    background-color: #f4473a;
    padding: 20px;
    position: relative;
}

.button-type:hover {
    background-color: #a93128;
}

.form-check input[type="radio"] {
    position: absolute;
    top: 0;
    left: 5px;
}

.civilite {
    margin-top: 10px;
    margin-bottom: 30px;
}

.hidden-section1,
.hidden-section2 {
    display: none;
}

.container-button-form .button {
    position: relative;
}

.form-row {
    width: 100%;
}

.desc-box-new-demand {
    padding: 17px;
}

.desc-box-biens {
    padding: 18px;
}

.box-bien {
    width: 22%;
    margin: 20px;
}

.box-bien img {
    width: 100%;
}

.box-bien:hover {
    box-shadow:5px 5px 10px grey;
}

.box-bien a:hover {
    color: #333;
}

.container-biens,
.container-catalogue {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.container-catalogue {
    width: 80%;
    margin: auto;
}

.container-catalogue .container-button-form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-biens,
.container-biens-catalogue {
    background-color: #f2f2f2;
}

.container-catalogue a {
    color: #333;
}

.container-catalogue a:hover {
    text-decoration: none;
}

.desc-bien {
    background-color: white;
    padding: 10px 20px;
    position: relative;
}

.price {
    position: absolute;
    right: 20px;
    font-weight: bold;
    color: #f4473a;
}

.title-bien {
    font-weight: bold;
}

.container-bien {
    display: flex;
    justify-content: center;
}

.container-bien img {
    width: 100%;
}

.container-bien .container-button-form a {
    color: white;
}

.page-bien-desc {
    background-color: #f2f2f2;
}

.page-bien-desc h3 {
    margin-bottom: 20px;
}

.page-bien-desc .glyphicon-remove {
    color: #f4473a;
}

.page-bien-desc .glyphicon-remove:hover {
    color: #a93128;
}

.page-bien-desc .glyphicon-edit {
    color: #333;
}

.page-bien-desc .glyphicon-edit:hover {
    color: #f4473a;
}

.page-bien-title {
    background-color: #f4473a;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.modif-profil {
    margin: 0 0 0 10px;
}

.table-input {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}

.desc-box-locataire {
    width: 83%;
}
